.header {
  padding: 1.125em 0;
}

.header__inner,
.header__logo {
  display: flex;
  align-items: center;
}

.header__inner {
  justify-content: space-between;
}

.header__logo-icon {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.26em;
}

.header__logo-text {
  font-family: var(--font-roboto);
  font-size: 0.84rem;
  font-weight: 700;
}

@media (min-width: 1200px) {
  .header {
    padding: 1.5em 0;
  }

  .header__logo-icon {
    width: 2.1rem;
    height: 2.1rem;
    margin-right: 0.4em;
  }

  .header__logo-text {
    font-size: 1.25rem;
  }
}
